/* HAMBURGER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
}




html {
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  background: url('../image/fondnoir.jpg') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 200px;
  color: #fff;
  height:100%;
  overflow: hidden;
  display: grid;
  width: 100%;
  font-family: "Helvetica", Arial, sans-serif;
  place-items: center;
}

.menu-btn {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding-top:9px;
  z-index:999;
}


.btn-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
}



.menu::before {
  transform: translateY(-9px);
}

.menu::after {
  transform: translateY(9px);
}

.menu-btn.open .bar {
  background-color: transparent;
}

.menu-btn.open span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.menu-btn.open span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.menu a {
  color: #ffffff;
  font-family: "Helvetica", Arial, sans-serif;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
}

.menu a:hover {
  /* background: rgba(255, 255, 255, 0.5); */
  background-image: linear-gradient(rgba(0, 0, 0,0.4),rgba(255, 255, 255,0.4));
}

ul {
  list-style: none;
}

.menu-open {
  z-index: 100 !important;
  opacity: 1 !important;
  background-color: transparent;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}

.menu.menu-open li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);
}

.menu.menu-open li:nth-child(3){
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:last-child{
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:first-child a {
  line-height: 265vw !important;
    text-indent: 15vw !important;

}

.menu.menu-open li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent:17vw !important;
}

.menu.menu-open li:nth-child(3) a {
  line-height: 137vw !important;
    text-indent: 17vw !important;
  
}

.menu.menu-open li:last-child a {
  line-height: 70vw !important;
  text-indent:12vw !important;
}

/* HAMBURGER */

/* Main Body CSS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing:5px;
  padding-top: 30vh;                      
}


article p {
  padding-bottom: 15px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

article a {
  color: #fff;
  text-decoration: none;
  opacity: .2;
  font-size: 12px;
}

article a:hover {
  opacity: .8;
}

@keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}


@media screen and (max-width:800px) {

  h1 {
    padding-top:80px;
    font-size: 60px;
  }
}


/* Contact */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



.wrapper {
  display: inline-flex;
  position: relative;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: rgba(0,126,187,255);
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: rgba(23,21,22,255);
  color: #ffffff;
}

.wrapper .twitch:hover,
.wrapper .twitch:hover .tooltip,
.wrapper .twitch:hover .tooltip::before {
  background: rgba(169,67,255,255);
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: rgba(255,9,99,255);
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: rgba(254,0,0,255);
  color: #ffffff;
  z-index:10;
}