body {
  height: 100vh;
  margin: 0;
  background-image: url(../image/fondnoir.jpg);
  background-size: cover;
  font-family: "Helvetica", Arial, sans-serif;

/* HAMBURGER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100vh;
  width: 100vw;
}

.menu-btn {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding-top:9px;
  z-index:999;
}


.btn-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
}



.menu::before {
  transform: translateY(-9px);
}

.menu::after {
  transform: translateY(9px);
}

.menu-btn.open .bar {
  background-color: transparent;
}

.menu-btn.open span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.menu-btn.open span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.menu a {
  color: #ffffff;
  font-family: "Helvetica", Arial, sans-serif;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
}

.menu a:hover {
  /* background: rgba(255, 255, 255, 0.5); */
  background-image: linear-gradient(rgba(0, 0, 0,0.4),rgba(255, 255, 255,0.4));
}

ul {
  list-style: none;
}

.menu-open {
  z-index: 100 !important;
  opacity: 1 !important;
  background-color: transparent;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}

.menu.menu-open li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);
}

.menu.menu-open li:nth-child(3){
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:last-child{
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(255, 255, 255, 0.2);;
}

.menu.menu-open li:first-child a {
  line-height: 265vw !important;
    text-indent: 15vw !important;

}

.menu.menu-open li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent:17vw !important;
}

.menu.menu-open li:nth-child(3) a {
  line-height: 137vw !important;
    text-indent: 17vw !important;
  
}

.menu.menu-open li:last-child a {
  line-height: 70vw !important;
  text-indent:12vw !important;
}

/* HAMBURGER */



}
text{
  font-size:11px;
  pointer-events:none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing:5px;   
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 5vh;              
}


.card {
  border-radius: 0;
  margin: 10px auto;
}

.card-title {
  text-transform: uppercase;
  color: #E44424;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  color: #000000;
}

a.btn, a.btn:visited {
  color: #333333;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.lettre {
  width: 80%;
  margin: 50px auto;
  
}

@media (min-width: 768px) {
  .email {
      width: 70%; /* Ajuste la largeur pour qu'elle occupe 60 à 70% de la largeur de l'écran */
  }
}

.header {
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #000000;
}


.subject,
.recipient {
  margin-bottom: 10px;
  font-weight: bold; /* Texte en gras */
  font-size: 18px; /* Taille du texte un peu plus grande */
  text-align: center;
}

.message {
  position: relative;
  background-color: rgba(229, 233, 222,0.9);
  border: 2px solid #000000;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #000000;
  border-top: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.content {
  padding: 20px;
}

.content p {
  margin: 0;
  font-size: 18px;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #000000;
}
